* {
    box-sizing: border-box;
  }

.calculator {
        display: flex;
        align-items: center;
        justify-content: center;
        
}

.calculator__keys { 
    height: 60vh;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.7em;
  }

.calculator__display {
    height: 30vh;
    background-color: black;
    color: white;
    font-size: 1.7em;
    padding: 0.5em 0.75em;
    text-align: right;
}